#header {
  position: relative;
  z-index: 2; }

#wrapper {
  margin-top: -181px;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1; }

.header {
  padding: 20px 0; }
  .header .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header #_desktop_user_info .type1, .header #_desktop_user_info .type3 {
    display: none; }
  .header .languages-info.type2, .header .languages-info.type3, .header .languages-info.type4 {
    display: none; }
  .header #_desktop_currency_selector.type1, .header #_desktop_currency_selector.type2 {
    display: none; }
  .header .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 6px; }
    .header .left .addon-box {
      margin-right: 52px;
      position: relative; }
      .header .left .addon-box:not(:first-child)::before {
        content: url("../img/icon/line.png");
        position: absolute;
        left: -27px;
        top: -2px; }
    .header .left .btn-search {
      position: relative;
      top: -3px; }
  .header .center .addon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 6px; }
    .header .right .addon-box {
      margin-left: 52px;
      position: relative; }
      .header .right .addon-box:not(:last-child)::after {
        content: url("../img/icon/line.png");
        position: absolute;
        right: -27px;
        top: -3px; }
      .header .right .addon-box:last-child {
        margin-right: 13px; }
    .header .right .wishlist_top.home_page {
      position: relative;
      top: -6px;
      left: 1px; }
    .header .right .cart-icon {
      position: relative;
      top: -3px; }

.menu #jms-megamenu-container .nav.level0 {
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08); }

.slides {
  position: relative; }
  .slides::after {
    content: url("../img/path_slide.png");
    position: absolute;
    bottom: -37px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999; }
  .slides .sd.jms-slide-content {
    text-shadow: -2px 0 #fff;
    font-weight: 700; }
  .slides .text-2 {
    font-weight: 500;
    letter-spacing: 0.011vw; }

.intro {
  margin-top: 50px; }
  .intro .title .addon-box {
    text-align: center; }
