.page-index #wrapper {
  margin-top: -181px;
  display: inline-block;
  width: 100%; }

.header {
  padding: 20px 0;
  position: relative;
  z-index: 999; }
  .header .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header #_desktop_user_info .type1, .header #_desktop_user_info .type3 {
    display: none; }
  .header .languages-info.type2, .header .languages-info.type3, .header .languages-info.type4 {
    display: none; }
  .header #_desktop_currency_selector.type1, .header #_desktop_currency_selector.type2 {
    display: none; }
  .header .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 6px; }
    .header .left .addon-box {
      margin-right: 52px;
      position: relative; }
      .header .left .addon-box:not(:first-child)::before {
        content: url("../img/icon/line.png");
        position: absolute;
        left: -27px;
        top: -2px; }
    .header .left .setting-img {
      padding-top: 2px; }
    .header .left .btn-search {
      position: relative;
      top: -3px; }
  .header .center .addon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 6px; }
    .header .right .addon-box {
      margin-left: 52px;
      position: relative; }
      .header .right .addon-box:not(:last-child)::after {
        content: url("../img/icon/line.png");
        position: absolute;
        right: -27px;
        top: -3px; }
      .header .right .addon-box:last-child {
        margin-right: 13px; }
    .header .right .wishlist_top.home_page {
      position: relative;
      top: -6px;
      left: 1px; }
    .header .right .cart-icon {
      position: relative;
      top: -3px; }

.page-index #jms-megamenu-container .nav.level0 {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08); }

.menu {
  position: relative;
  z-index: 998; }
  .menu.fixed #jms-megamenu-container .nav.level0 {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important; }
  .menu .features .image {
    margin-bottom: 28px; }
  .menu .features .dropdown-menu::before {
    left: 550px; }
  .menu .features .mega-dropdown-inner ul li:not(.group) a {
    padding-left: 14px;
    position: relative; }
    .menu .features .mega-dropdown-inner ul li:not(.group) a::before {
      content: "";
      padding-right: 3px;
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: #fb943b;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 9px; }
  .menu .stores .dropdown-menu::before {
    left: 443px; }
  .menu #jms-megamenu-container .nav.level0 {
    text-align: center;
    background: #fff; }

.slides {
  position: relative;
  z-index: 1; }
  .slides::after {
    content: url("../img/path_slide.png");
    position: absolute;
    bottom: -37px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999; }
  .slides .sd.jms-slide-content {
    text-shadow: -2px 0 #fff;
    font-weight: 700; }
  .slides .text-2 {
    font-weight: 500;
    letter-spacing: 0.011vw; }

.intro {
  margin-top: 50px;
  margin-bottom: 70px; }
  .intro .title .addon-box {
    text-align: center; }
  .intro .title h3 {
    font-size: 41px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding-top: 7px;
    padding-bottom: 68px; }
  .intro .include_content_s h4 {
    font-size: 27px;
    font-weight: 500;
    padding-top: 41px; }
  .intro .include_content_s p {
    font-family: Cabin;
    font-size: 16px;
    color: #907459;
    line-height: 1.85;
    padding: 14px 10px 0 10px; }

.service .left .feature-box {
  background: url("../img/service1_bg.jpg") no-repeat center center; }

.service .center .feature-box {
  background: url("../img/service2_bg.jpg") no-repeat center center; }

.service .right .feature-box {
  background: url("../img/service3_bg.jpg") no-repeat center center; }

.service .feature-box {
  padding: 50.5px 0; }

.service .include_content_s .text-1, .service .include_content_s .text-2 {
  color: #fff; }

.banner {
  margin-top: 90px; }
  .banner .layout-column {
    padding: 0; }
  .banner .left .banner-content {
    width: 175px;
    top: calc(50% + 4px);
    left: calc(50% + 4px);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .banner .left .banner-content p {
      font-size: 42px;
      color: #8da92e;
      font-family: Playball;
      margin-bottom: 0; }
    .banner .left .banner-content .text-1 {
      float: left;
      margin-bottom: -8px; }
    .banner .left .banner-content .text-2 {
      float: right;
      padding-left: 24px; }
  .banner .center .banner-content {
    left: 72px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .banner .center .banner-content p {
      text-align: left; }
    .banner .center .banner-content .text-1 {
      font-size: 48px;
      font-family: Playball;
      color: #f93c3c;
      margin-bottom: -2px; }
    .banner .center .banner-content .text-2 {
      font-size: 42px;
      font-weight: 600;
      color: #488359;
      text-shadow: 2px 2px #fff;
      letter-spacing: 0.7px;
      margin-bottom: 26px; }
  .banner .right .banner-content {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
    .banner .right .banner-content p {
      font-size: 42px;
      font-weight: 600;
      color: #ff7e00;
      text-shadow: 2px 2px #fff;
      line-height: 1.1;
      letter-spacing: 0.5px; }

.cates_tab {
  margin-top: 133px; }
  .cates_tab .container-fluid {
    max-width: 1810px;
    width: 100%;
    padding: 0 15px; }

.brand {
  margin-top: -8px;
  display: inline-block;
  width: 100%; }

.hot_deal {
  margin-top: 126px; }
  .hot_deal .addon-title h3 {
    letter-spacing: 0.4px;
    padding-bottom: 29px; }

.testimonial {
  position: relative;
  margin-top: -10px;
  display: inline-block;
  width: 100%; }
  .testimonial::before {
    content: url("../img/testi_img2.png");
    position: absolute;
    top: -150px;
    left: -11px; }
  .testimonial::after {
    content: url("../img/testi_img1.png");
    position: absolute;
    bottom: -54px;
    right: -8px; }
  .testimonial .addon-title h3 {
    letter-spacing: 0.2px; }

.blog {
  margin-top: 53px; }
  .blog .addon-title h3 {
    margin-bottom: 10px;
    letter-spacing: 0.2px;
    padding-bottom: 29px; }

@media (max-width: 1366px) {
  .menu .stores .dropdown-menu::before {
    left: 322px; }
  .menu .features .dropdown-menu::before {
    left: 429px; } }

@media (max-width: 1199px) {
  .menu .stores .dropdown-menu::before {
    left: 202px; }
  .menu .features .dropdown-menu::before {
    left: 308px; } }

@media (max-width: 1199px) and (min-width: 992px) {
  .banner .center .banner-content {
    left: 35px; }
    .banner .center .banner-content .text-1 {
      font-size: 38px; }
    .banner .center .banner-content .text-2 {
      font-size: 32px; }
    .banner .center .banner-content .btn-shopnow {
      font-size: 14px; }
  .banner .right .banner-content p {
    font-size: 22px; }
  .footer_t .number_phone {
    font-size: 14px; }
  #footer #social_block ul li {
    margin-right: 0; } }

@media (max-width: 991px) {
  .page-index #wrapper {
    margin-top: 0; }
  .jms-row.menu, .setting-img {
    display: none; }
  .header .left p {
    margin-bottom: 0; }
  .header .left .addon-box :not(:first-child)::before {
    display: none; }
  .header .left .addon-box:nth-child(2) {
    display: none; }
  .header .right .addon-box:not(:last-child) {
    display: none; }
  .cates_tab .jms-tab ul .nav-item {
    margin: 0; } }

@media (max-width: 991px) and (min-width: 768px) {
  .countdown-section {
    margin: 0 2.5px;
    min-width: 46px; }
    .countdown-section .countdown-section .countdown-amount {
      font-size: 16px; }
  .banner .center .banner-content {
    left: 28px; }
    .banner .center .banner-content .text-1 {
      font-size: 20px; }
    .banner .center .banner-content .text-2 {
      font-size: 16px; }
    .banner .center .banner-content .btn-shopnow {
      font-size: 10px; }
  .banner .right .banner-content .text-1 {
    font-size: 14px; } }
