.jms-banner a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 75%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0.2)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 75%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  -webkit-transition: opacity .35s,-webkit-transform .35s;
  transition: opacity .35s,-webkit-transform .35s;
  -o-transition: opacity .35s,transform .35s;
  transition: opacity .35s,transform .35s;
  transition: opacity .35s,transform .35s,-webkit-transform .35s; }

.jms-banner a:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.topbar {
  background: #fb943b;
  color: #fff;
  font-family: cabin;
  font-size: 15px; }
  .topbar p {
    margin-bottom: 0; }
  .topbar #_desktop_user_info .type1, .topbar #_desktop_user_info .type2 {
    display: none; }
  .topbar #_desktop_user_info .type3 {
    display: block; }
  .topbar .languages-info.type1, .topbar .languages-info.type3, .topbar .languages-info.type4 {
    display: none; }
  .topbar .languages-info.type2 {
    display: block; }
  .topbar .languages-info a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 1px; }
  .topbar .languages-info .dropdown-menu {
    min-width: 140px; }
  .topbar #_desktop_currency_selector.type3, .topbar #_desktop_currency_selector.type2 {
    display: none; }
  .topbar #_desktop_currency_selector.type1 {
    display: block; }
  .topbar #_desktop_currency_selector a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 7px; }
  .topbar #_desktop_currency_selector .dropdown-menu {
    min-width: 106px; }
  .topbar .left a {
    color: #fff !important;
    line-height: 42px; }
  .topbar .left span {
    margin-right: 36px;
    letter-spacing: 0.1px;
    position: relative;
    line-height: 45px; }
    .topbar .left span::after {
      content: "";
      height: 45px;
      width: 1px;
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      right: -21px;
      top: -13px; }
  .topbar .left .locator::before {
    content: "\e953";
    font-family: typo-icon;
    font-size: 15px;
    color: #fff;
    margin-right: 6px; }
  .topbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .topbar .right .dropdown-menu {
      left: -21px;
      border-top: 0; }
      .topbar .right .dropdown-menu::before {
        display: none; }
    .topbar .right .addon-box {
      margin-left: 44px;
      position: relative;
      line-height: 45px; }
      .topbar .right .addon-box:not(:first-child)::before {
        content: "";
        height: 45px;
        width: 1px;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        left: -21px;
        top: 0; }
    .topbar .right .title {
      color: #fff !important;
      letter-spacing: 0.5px; }

.header {
  padding: 24px 0; }
  .header .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header #jms_ajax_search .searchbox::before {
    display: none; }
  .header #ajax_search {
    height: 47px;
    border-color: #fb943b;
    border-radius: 30px 0 0 30px;
    padding-left: 25px;
    width: 415px; }
  .header .text-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Cabin;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header #cart_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 8px; }
    .header #cart_block .shoppingcart-box::before {
      right: 66px; }
    .header #cart_block .ajax_cart_quantity {
      background-color: #fff;
      color: #fb943b;
      -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
      right: 0;
      top: -2px; }
    .header #cart_block .cart-icon {
      width: 42px;
      height: 42px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background: #fb943b;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 50% !important; }
      .header #cart_block .cart-icon::before {
        color: #fff;
        top: -3px;
        position: relative; }
  .header .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.menu {
  position: relative;
  z-index: 2;
  border-top: 1px solid #f4f4f4;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04); }
  .menu .jms-megamenu .home {
    padding-left: 0; }
  .menu .jms-megamenu .menu-align-left > .dropdown-menu {
    left: -22px; }
  .menu .jms-megamenu .stores .dropdown-menu::before {
    left: 438px; }
  .menu .jms-megamenu .features .dropdown-menu::before {
    left: 543px; }
  .menu #jms-vermegamenu-container {
    position: absolute;
    width: 270px;
    background: #fff; }
  .menu .right {
    position: unset; }

.slides {
  position: relative;
  z-index: 1; }
  .slides .text-1, .slides .text-2 {
    text-shadow: 2px 2px #fff;
    font-weight: 600; }
  .slides .text-1 {
    letter-spacing: 0.048vw; }
  .slides .text-2 {
    font-family: Cabin; }
  .slides .btn-shopnow1 {
    padding: 0 1.7vw; }

.service .left .feature-box {
  border: 1px solid #81b502; }

.service .center .feature-box {
  border: 1px solid #f2962a; }

.service .right .feature-box {
  border: 1px solid #29c4e9; }

.service .feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  padding: 30.5px 0; }

.service .include_content_s {
  margin-left: 22px; }
  .service .include_content_s .text-1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 6px; }
  .service .include_content_s .text-2 {
    color: #907459;
    font-family: Cabin;
    font-size: 16px;
    margin-bottom: 8px; }

.best_seller .addon-title h3 {
  letter-spacing: 0.2px; }

.best_seller .owl-theme {
  padding-top: 59px; }
  .best_seller .owl-theme .owl-controls {
    top: 2px; }

.cates {
  padding: 60px 0;
  position: relative;
  margin-top: -6px; }
  .cates::before {
    content: url("../img/h4_cates_img1.png");
    position: absolute;
    left: 0;
    bottom: -84px;
    z-index: 0; }
  .cates::after {
    content: url("../img/h4_cates_img2.png");
    position: absolute;
    right: 0;
    top: -69px;
    z-index: 0; }
  .cates .addon-title h3 {
    text-align: left !important;
    line-height: 1.3;
    padding-top: 21px; }
    .cates .addon-title h3::before {
      display: none; }
  .cates .jms-banner > a::before {
    display: none; }
  .cates .right {
    width: 75% !important; }
  .cates .owl-theme .owl-controls {
    display: block !important;
    left: -235px;
    bottom: 25px;
    top: auto; }
    .cates .owl-theme .owl-controls div {
      background-color: #fff !important;
      margin-left: 0;
      margin-right: 5px; }
  .cates .banner-content {
    bottom: 13px;
    top: auto;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-family: Cabin; }

.deal .left .addon-box {
  background-image: url("../img/h4_deal_bg.jpg");
  background-size: contain;
  background-attachment: scroll;
  background-position: 100% 0;
  margin-left: 100px; }

.deal .left .addon-title img {
  position: absolute;
  left: -105px;
  bottom: -112px; }

.deal .countdown-box {
  text-align: right;
  margin-top: 0;
  padding: 76px 58px 89px; }

.deal .countdown.is-countdown {
  margin-top: 42px;
  margin-bottom: 52px;
  text-align: right; }

.deal .countdown-section {
  background: #fff;
  border-radius: 50%;
  min-width: 100px;
  padding-top: 12px;
  padding-bottom: 15px;
  margin-right: 0;
  margin-left: 10px; }
  .deal .countdown-section .countdown-amount {
    font-size: 45px;
    color: #603813;
    margin-bottom: 0; }

.deal .countdown-period {
  font-size: 17px;
  color: #907459; }

.deal .text-1 {
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 15px; }

.deal .text-2 {
  font-size: 16px;
  font-family: Cabin;
  color: #907459;
  line-height: 1.85;
  padding-left: 25px; }

.deal .btn-shopnow1 {
  padding: 0 26px; }

.product_carousel .addon-title h3 {
  text-align: left !important;
  font-size: 25px; }
  .product_carousel .addon-title h3::before {
    display: none; }
  .product_carousel .addon-title h3::after {
    content: "";
    width: 45px;
    height: 2px;
    background: #fb943b;
    position: absolute;
    left: 0;
    bottom: 2px; }

.product_carousel .product_box {
  margin: 0; }
  .product_carousel .product_box .item {
    padding: 0; }

.product_carousel .owl-theme {
  padding-top: 28px; }
  .product_carousel .owl-theme .owl-controls {
    left: auto;
    right: 0;
    top: -43px;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset; }

.jms-row.blog {
  background: #f7f4ef;
  padding: 87px 0 55px; }
  .jms-row.blog .addon-title h3 {
    text-align: left !important;
    font-size: 25px; }
    .jms-row.blog .addon-title h3::before {
      display: none; }
    .jms-row.blog .addon-title h3::after {
      content: "";
      width: 45px;
      height: 2px;
      background: #fb943b;
      position: absolute;
      left: 0;
      bottom: 2px; }
  .jms-row.blog .post-info {
    margin-top: 21px; }
  .jms-row.blog .owl-theme {
    padding-top: 28px; }
    .jms-row.blog .owl-theme .owl-controls {
      left: auto;
      right: 0;
      top: -33px;
      -webkit-transform: unset;
      -ms-transform: unset;
      transform: unset; }
      .jms-row.blog .owl-theme .owl-controls div {
        margin: 0;
        margin-left: 5px;
        background-color: #fff !important; }
  .jms-row.blog .testimonial {
    padding: 0 15px; }
    .jms-row.blog .testimonial .testimonial-carousel {
      padding-top: 9px; }
      .jms-row.blog .testimonial .testimonial-carousel .owl-controls {
        left: auto;
        right: 15px;
        top: -37px;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset; }
        .jms-row.blog .testimonial .testimonial-carousel .owl-controls div {
          margin: 0;
          margin-left: 5px;
          background-color: #fff !important; }
    .jms-row.blog .testimonial .testimonial-box {
      padding: 20px 30px;
      margin-bottom: 20px;
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.08); }
    .jms-row.blog .testimonial .testimonial-img {
      margin-top: 16px; }
    .jms-row.blog .testimonial .id_testimonial {
      display: none; }

.newsletter #newsletter_block_left .textnews_h4 {
  display: block; }

.newsletter .textnews_h1.addon-title {
  display: none; }

.newsletter .newsletter-btn.buttonh1 {
  background: transparent;
  width: 17px;
  height: 30px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.newsletter .newsletter-btn.btn-popup {
  display: none !important; }

.newsletter .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #f7f4ef;
  margin-top: 16px;
  margin-bottom: 24px; }

.newsletter .addon-title span {
  font-size: 15px;
  color: #907459;
  font-family: Cabin;
  line-height: 2; }

.newsletter #newsletter-input {
  height: 30px;
  border: 0;
  border-radius: 0;
  padding-left: 0; }

.newsletter #newsletter-input::-webkit-input-placeholder {
  color: #ada695; }

.newsletter #newsletter-input:-ms-input-placeholder {
  color: #ada695; }

.newsletter #newsletter-input::-ms-input-placeholder {
  color: #ada695; }

.newsletter #newsletter-input::placeholder {
  color: #ada695; }

.newsletter #social_block ul li {
  margin-right: 4px; }

#footer {
  margin-top: 0; }

.footer_b {
  border-top: 1px solid #f6f2e9; }

@media (max-width: 1366px) {
  .cates::before {
    left: -115px; }
  .cates::after {
    right: -60px; } }

@media (max-width: 1199px) {
  .header #ajax_search {
    width: 355px; }
  .ver_menu {
    font-size: 16px; }
  .menu #jms-vermegamenu-container {
    width: 220px; }
  #cart_block .shoppingcart-box {
    right: 0; }
    #cart_block .shoppingcart-box::before {
      right: 24px !important; }
  .cates .owl-theme .owl-controls {
    left: -187px; } }

@media (max-width: 991px) {
  .header .text-custom {
    display: none; }
  .header .left {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    .header .left .addon-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .header .center {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .header .center p {
      margin-bottom: 0; }
    .header .center .addon-box:first-child {
      display: none; }
  .header .right {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  #cart_block .shoppingcart-box {
    right: 0 !important; }
  .cates .addon-title h3 {
    text-align: center !important; }
  .cates .right {
    width: 100% !important; }
  .cates .owl-theme .owl-controls {
    display: none; }
  .deal .right {
    margin-top: 100px; }
  .jms-row.blog .testimonial {
    margin-top: 30px; } }

@media (max-width: 991px) and (min-width: 768px) {
  .product-box .flexbox {
    margin-right: 5px;
    width: 75%; } }

@media (max-width: 991px) and (min-width: 482px) {
  .deal .right .addon-box {
    width: 50%;
    float: left; }
    .deal .right .addon-box:first-child {
      padding-right: 15px; }
    .deal .right .addon-box:last-child {
      padding-left: 15px; } }

@media (max-width: 767px) {
  .service {
    margin-top: 30px; }
  .deal .left .addon-box {
    margin-left: 0; }
  .deal .right .addon-box {
    margin-bottom: 15px; }
  .slides .btn-shopnow1 {
    border-width: 1px !important; } }

@media (max-width: 481px) {
  .deal .countdown-box {
    text-align: center;
    padding: 20px; }
  .deal .text-1 {
    font-size: 25px; }
  .deal .text-2 {
    padding-left: 0; }
  .deal .left .addon-title img {
    width: 100%; }
  .deal .countdown.is-countdown {
    text-align: center; }
  .deal .countdown-section {
    min-width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px; }
    .deal .countdown-section .countdown-amount {
      font-size: 18px; }
  .deal .countdown-period {
    font-size: 14px; }
  .deal .btn-shopnow1 {
    font-size: 14px;
    height: 35px;
    padding: 0 15px; } }
