.topbar #_desktop_user_info .type1, .topbar #_desktop_user_info .type2 {
  display: none; }

.topbar #_desktop_user_info .type3 {
  display: block; }

.topbar .languages-info.type1, .topbar .languages-info.type3, .topbar .languages-info.type4 {
  display: none; }

.topbar .languages-info.type2 {
  display: block; }

.topbar #_desktop_currency_selector.type3, .topbar #_desktop_currency_selector.type2 {
  display: none; }

.topbar #_desktop_currency_selector.type1 {
  display: block; }
