.product-line-info .label.product-name:hover{
  color: #fb3b52;
}
#contact .form-footer .btn_submit:hover{
  background: #fb3b52;
}
a:hover, a:focus, a:active, a:focus {
    color: #fb3b52; 
}
.dropdown-menu {
  border-top: 2px solid #fb3b52;
 }
 .jms-megamenu .dropdown-menu::before {
  border-bottom: 5px solid #fb3b52;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #fb3b52; 
}
.btn-default:hover{
  border-color: #fb3b52;
}
.btn-active {
  background: #fb3b52;
  border-color: #fb3b52; 
}
.btn-shopnow:hover::after{
  background: #fb3b52 ;
}
.btn-shopnow:hover{
  color: #fb3b52;
}
.btn-shopnow1 {
  color: #fb3b52;
  border: 2px solid #fb3b52 !important;
}
.btn-checkout {
  color: #fb3b52;
  border: 2px solid #fb3b52 !important;
}
.btn-effect1::before {
  background: #fb3b52 none repeat scroll 0 0;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background: #fb3b52;
}
.btn-transparent:hover {
  background-color: #fb3b52;
  border-color: #fb3b52; 
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background-color: #fb3b52; }

.btn-mega:hover, .btn-mega:focus, .btn-mega:active {
  background-color: #fb3b52; }

 #cart_block .shoppingcart-box::before{
  border-bottom: 5px solid #fb3b52;
}
#cart_block #button_order_cart {
  border: 2px solid #fb3b52;
  color: #fb3b52;
}
.cart-wrap .remove_link .fa:hover{
  color: #fb3b52;
}
.text-addcart, .text-outofstock {
  color: #fb3b52;
}
.product-btn .fa{
  color: #fb3b52;
}
.btn-cart:hover {
  background: #fb3b52;
  border-color: #fb3b52;
}
.pagination li > a.previous:hover,
.pagination li > a.next:hover{
  color: #fb3b52 !important;
}
.pagination .current a {
    background-color: #fb3b52;
}
.pagination .current a:focus {
  background-color: #fb3b52; 
}
.pagination .active a:hover {
  background-color: #fb3b52;
}
.pagination .current a {
  background-color: #fb3b52;
}
.pagination .current a:focus {
    background-color: #fb3b52 ;
}
.pagination .current span:hover {
  background-color: #fb3b52;
}
.pagination li a:focus, .pagination li a:hover {
  background-color: #fb3b52; 
}
.pagination li span:focus, .pagination li span:hover {
  background-color: #fb3b52; 
}
.modal-dialog.cover_product1 .modal-footer .block-social ul li a:hover::before {
  color: #fb3b52;
}
.footer_t .contact_us .email {
  color: #fb3b52;
}
.top_menu_second .email {
  color: #fb3b52;
}
.back-to-top:hover{
  background: #fb3b52;
}
.countdown-section {
  background: #fb3b52;
}
.post-readmore:hover{
  border-color: #fb3b52;
}
.post-fulltext .cmt::before {
  background: #fb3b52;
}
.button-search {
  background: #fb3b52;
}
#footer a:hover{
  color: #fb3b52 !important;
}
#footer .addon-title + ul li a::before {
  background-color: #fb3b52;
}
#social_block a:hover{
  border-color: #fb3b52;
  background: #fb3b52;
  color: #fff !important;
}
.jms-tab ul .nav-item.active a,
.jms-tab ul .nav-item a.active{
  color: #fb3b52;
}
  .breadcrumb-inner ol li a:hover {
    color: #fb3b52; }
 .languages-info ul > li.current > a, #_desktop_currency_selector ul > li.current > a, #_desktop_user_info ul > li.current > a {
  color: #fb3b52; }

#_desktop_search_filters_clear_all button {
  background: #fb3b52;
  border-color: #fb3b52; }

.facet-label.active a {
  color: #fb3b52 !important; }

.view-mode .button a.active {
  color: #fb3b52; }

.products-list-in-row .addToWishlist:hover {
  color: #fb3b52; }

.post-comment-info .left h6 span {
  color: #fb3b52; }
.btn-groupmodule + .dropdown-menu li.current a {
    color: #fb3b52; }

#cart_block .ajax_cart_quantity {
  background: #fb3b52 none repeat scroll 0 0;
 }
.jms-megamenu .features .mega-dropdown-inner ul li:not(.group) a::before {
  background-color: #fb3b52;
 }
 .ver_menu {
  background: #fb3b52;
 }
 .home_1 .menu .features .mega-dropdown-inner ul li:not(.group) a::before {
      background-color: #fb3b52;
 }
 .home_2 .deal .countdown-box .btn-shopnow {
   color: #fb3b52;
   border: 2px solid #fb3b52;
}
.home_4 .topbar {
  background: #fb3b52;
 }
.home_4 .header #ajax_search {
  border-color: #fb3b52;
}
.home_4 .header #cart_block .ajax_cart_quantity {
     color: #fb3b52;
 }
 .home_4 .header #cart_block .cart-icon {
  background: #fb3b52;
 }
 .home_4 .product_carousel .addon-title h3::after {
  background: #fb3b52;
 }
 .home_4 .jms-row.blog .addon-title h3::after {
  background: #fb3b52;
 }
 .home_5 .addon-title h3::after {
    background: #fb3b52;
 }
 .home_5 .banner .jms-vermegamenu .nav > li.open > a i {
    color: #fb3b52; }


 .home_6 .header #ajax_search {
    border-color: #fb3b52;
 }
 .home_6 .slides .jms-vermegamenu .nav > li.open > a i {
  color: #fb3b52; }
 .home_6 .banner1 .text-1 {
  color: #fb3b52;
 }
 .home_6 .banner2 .text-1 {
  color: #fb3b52;
 }
 .home_6 .two_column .addon-title h3::after {
    background: #fb3b52;
 }
 .home_6 .hotdeal .hotdeal-carousel .product-box {
   border: 2px solid #fb3b52;
 }
 .home_6 .cate_tab .jms-tab .nav li.active a {
  border-color: #fb3b52;
  color: #fb3b52; 
}
 .home_6 .cate_tab .jms-tab .nav li a.active {
    border-color: #fb3b52;
    color: #fb3b52; }
 #search_filters .facet .facet-title::before {
  background: #fb3b52;
}
#category .facet ul li a:hover{
  color: #fb3b52;
}
.title-block h3::before {
    background: #fb3b52;
}
.block-categories li a:hover{
    color: #fb3b52;
}
.block-categories li a::before{
    background: #fb3b52;
}
.block-categories .title-block h3:before {
  background: #fb3b52;
}
.product-images > li.thumb-container > .thumb.selected, 
.product-images > li.thumb-container > .thumb:hover {
    border: 1px solid #fb3b52;
}
.product-quantity .btn-touchspin:hover::before{
    color: #fb3b52;
}
.product-information .addToWishlist:hover{
    color: #fb3b52;
}
.other-info > li label::before {
    background: #fb3b52;
}
.jms-advsearch .input-group.keyword-group {
    border: 1px solid #fb3b52;
}
.jms-advsearch .input-group-addon.icon-drop-down::before {
    background: #fb3b52;
}
.jms-advsearch .input-group-addon.input-group-search {
    background: #fb3b52;
}
#jms_ajax_search .search-box.dropdown-menu::before{
    border-bottom: 5px solid #fb3b52;
}
.widget-title::before, .title_block::before {
  background: #fb3b52;
}
.blog-widget .comment-item p::before {
  background: #fb3b52;
}
.widget-archives li a::before{
  background: #fb3b52;
}
.widget-archives li a:hover{
  color: #fb3b52;
}
.widget-categories li a:hover{
  color: #fb3b52;
}
.widget-categories li a::before {
  background: #fb3b52;
}
.cat-post-list .post-meta a:hover{
  color: #fb3b52;
}
.blog-readmore:hover{
  border-color: #fb3b52;
}
.single-blog .post-meta a:hover{
  color: #fb3b52;
}
.commentForm > h3::before{
  background: #fb3b52;
}
#off-canvas-menu .dropdown-menu > li > a::before {
    background-color: #fb3b52;
}
.jms-megamenu .nav > li > a:hover, .jms-megamenu .nav > li > a:focus {
    color: #fb3b52;
}
.jms-megamenu .mega-nav li > a:hover{
    color: #fb3b52;
}
.jms-megamenu .nav > li.open > a{
    color: #fb3b52;
}
.jms-megamenu .nav > li > a::after {
    border-bottom: 5px solid #fb3b52;
}
.owl-dot.active span {
    background: #fb3b52 none repeat scroll 0 0;
}
.jms-popup .btn-popup {
  border: 2px solid #fb3b52;
  color: #fb3b52;
}
#jmstools .btn-action .btn:hover {
  background:#fb3b52;
}
.jms-vermegamenu .nav > li.page a:hover{
    color: #fb3b52;
}
.jms-vermegamenu .nav > li.open > a > .caret::after {
    color: #fb3b52;
}
.jms-vermegamenu .mega-nav li > a:hover{
    color: #fb3b52;
}
.jms-vermegamenu .level0 > li > .dropdown-menu{
    border-left: 2px solid #fb3b52;
}
.jms-vermegamenu .mega-inner ul li:not(.group) a::before{
    background-color: #fb3b52;
}
.product-preview button.cart-button {
  border: 1px solid #fb3b52;
}
.fraction-slider .prev, .fraction-slider .next {
  background: rgba(251,59,82,0.5);
}
.fraction-slider .prev:hover, .fraction-slider .next:hover {
  background: rgba(251,59,82,1);
}
li.product-flag {
  background: #fb3b52 none repeat scroll 0 0;
}
.cates .jms-banner:hover {
  border-color: #fb3b52;
}
.product-preview .product_action button.cart-button:hover{
  background: #fb3b52;
}
.btn-shopnow1:hover,
.btn-shopnow1:active,
.btn-shopnow1:focus{
  background: #fb3b52;
}
#cart_block #button_order_cart:hover{
  background: #fb3b52;
}
.btn-effect1:hover{
  background: #fb3b52;
}
#contact .btn_submit{
  color: #fb3b52;
}