@mixin icon_dropdown($value){
	a.dropdown-toggle::after{
		content: "\f107";
		font-family: "FontAwesome";
		padding-left: #{$value}px;
		@content;
	}
}

@mixin borderBottomColor($home, $color){
	.home_#{$home}{
		#search_filters .facet .facet-title,
		.title-block h3,
		.widget-title, .title_block{
			border-bottom-color: #{$color};
		}
	}
	@content;
}

@mixin flex($vCenter, $hCenter) {
	display: flex;
	justify-content: #{$vCenter};
	align-items: #{$hCenter};
	@content;
}

@mixin flexVCenter() {
	display: flex;
	align-items: center;
	@content;
}

@mixin flexHCenter() {
	display: flex;
	justify-content: center;
	@content;
}

@mixin imgBeforeTitle() {
	content: url("../img/leaf.png");
	position: absolute;
	left: 50%;
	top: -47px;
	transform: translateX(-50%);
	@content;
}





