@import "mixin";
@import "varians";

// header
.header{
	padding: 24.5px 0;
	position: relative;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
	z-index: 999;
	&.fixed{
		padding: 10px 0;
	}
	.container{
		> .row{
			@include flex(center, center);
		}
	}
	#_desktop_user_info{
		.type1, .type3{
			display: none;
		}
	}
	.languages-info{
		&.type2, &.type3, &.type4{
			display: none;
		}
	}
	#_desktop_currency_selector{
		&.type1, &.type2{
			display: none;
		}
	}
	.left{

	}
	.center{
		#jms-megamenu-container {
			padding-left: 20px;
		}
	}
	.right{
		@include flex(flex-end, center);
		margin-top: 6px;
		.addon-box{
			margin-left: 40px;
			position: relative;
			height: 29px;
			&:not(:last-child)::after{
				content: url("../img/icon/line.png");
				position: absolute;
				right: -20px;
				top: 1px;
			}
			&:last-child{
				margin-right: 13px;
			}
		}
		.wishlist_top.home_page{
			position: relative;
			top: -2px;
			left: 1px;
		}
		.cart-icon{
			position: relative;
			top: -2px;
		}
	}
	.jms-megamenu{
		.open .dropdown-menu{
			top: calc(100% + 33px);
		}
		.dropdown-menu{
			top: calc(100% + 33px);
		}
		.stores .dropdown-menu::before {
			left: 452px;
		}
		.features .dropdown-menu::before {
		    left: 560px;
		}
	}
}

//slider
.slides{
	position: relative;
	z-index: 9;
}

// cate_tab
.cates_tab{

}

//intro
.intro{
	padding: 133px 0 69px;
	position: relative;
	&::before{
		content: url("../img/h3_img2.png");
		position: absolute;
		left: 0;
		top: -150px;
	}
	&::after{
		content: url("../img/h3_img3.png");
		position: absolute;
		right: 0;
		bottom: -146px;
	}
	.container > .row{
		@include flexVCenter();
	}
	.addon-title h3{
		letter-spacing: 0.3px;
	}
	.title {
		@include flexVCenter();
		p{
			font-family: Cabin;
			font-size: 24px;
			margin-bottom: 0;
			font-weight: 700;
			&.p1{
				color: #7cbb2c;
			}
			&.p2{
				color: #fb943b;
			}
			&.p3{
				color: #48bba7;
			}
			&.p4{
				color: #f75353;
			}
			&.p5{
				color: #99a74d;
			}
			&.p6{
				color: #b0743f;
			}
		}
	}
	.left{
		margin-top: 79px;
		p{
			margin-left: 18px;
		}
		.addon-box:not(:last-child){
			margin-bottom: 43px;
		}
	}
	.center{
		.addon-title{
			margin-bottom: 31px;
		}
	}
	.right{
		margin-top: 79px;
		.title{
			flex-flow: row-reverse;
		}
		.addon-box:not(:last-child){
			margin-bottom: 43px;
		}
		p{
			margin-right: 15px;
		}
		.content{
			text-align: right;
		}
	}
	.content{
		font-size: 16px;
		color: #907459;
		font-family: Cabin;
		line-height: 1.85;
		margin-top: 10px;
	}
}

//featured product.
.featured_product{
	.owl-theme .owl-controls{
		top: 2px;
	}
	.product-carousel{
		padding-top: 58px;
	}
}

//brand
.brand{
	margin-top: -6px;
	display: inline-block;
	width: 100%;
}

//blog
.blog{
	.blog-carousel {
		padding-top: 73px;
	}
	.owl-theme .owl-controls {
		top: 2px;
	}
	.post-title{
		padding-bottom: 4px;
		a{
			line-height: 1.65;
		}
	}
	.post-meta {
		margin-bottom: 8px;
	}
	.post-intro p {
		color: #907459;
		line-height: 1.86;
		font-size: 16px;
		font-family: Cabin;
	}
	.blog-item {
		display: flex;
		.post-thumb{
			width: 50%;
			margin-right: 30px;
		}
		.post-info{
			width: 50%;
			margin-top: -5px;
		}
	}
}

//newsletter
.newsletter{
	padding: 87px 0 77px;
	.textnews_h1{
		display: none;
	}
	#newsletter_block_left{
		.textnews_h2{
			display: block;
			margin-right: 40px;
			.text-1{
				font-family: Cabin;
				letter-spacing: 5.7px;
				margin-bottom: 2px;
			}
			.text-2{
				font-size: 32px;
				font-weight: 500;
				margin-left: -4px;
				margin-bottom: 0;
			}
		}
	}
	.news_content {
		position: relative;
		bottom: 5px;
	}
	.block_content{
		@include flex(center, center);
	}
	.form-group{
		@include flex(center, center);
		margin-bottom: 0;
	}
	.newsletter-btn{
		&.buttonh1{
			display: none;
		}
		&.btn-popup{
			display: block;
			margin-left: 20px;
		}
	}
}

//service
.service{
	.container{
		border-bottom: 1px solid #f3efe8;
	}
	.feature-box{
		@include flex(center, center);
		padding: 80px 0;
	}
	.include_content_s{
		margin-left: 22px;
		.text-1{
			font-size: 24px;
			font-weight: 600;
			letter-spacing: 0.4px;
			margin-bottom: 6px;
		}
		.text-2{
			color: #907459;
			font-family: Cabin;
			font-size: 16px;
			margin-bottom: 8px;
		}
	}
}

#footer{
	margin-top: 0;
	#social_block ul li {
		margin-right: 4px;
	}
}
.footer_t{
	border-bottom: 1px solid #f6f2e9;
}