@import "mixin";
@import "varians";

//topbar
.topbar{
	background: $active;
	color: #fff;
	font-family: cabin;
	font-size: 15px;
	p{
		margin-bottom: 0;
	}
	#_desktop_user_info{
		.type1, .type2{
			display: none;
		}
		.type3{
			display: block;
		}
	}
	.languages-info{
		&.type1, &.type3, &.type4{
			display: none;
		}
		&.type2{
			display: block;
		}
		@include icon_dropdown(1);
		.dropdown-menu{
			min-width: 140px;
		}
	}
	#_desktop_currency_selector{
		&.type3, &.type2{
			display: none;
		}
		&.type1{
			display: block;
		}
		@include icon_dropdown(7);
		.dropdown-menu{
			min-width: 106px;
		}
	}
	.left{
		a{
			color: #fff !important;
			line-height: 42px;
		}
		span{
			margin-right: 36px;
			letter-spacing: 0.1px;
			position: relative;
			line-height: 45px;
			&::after{
				content: "";
				height: 45px;
				width: 1px;
				background: rgba(255,255,255,0.3);
				position: absolute;
				right: -21px;
				top: -13px;
			}
		}
		.locator::before{
			content: "\e953";
			font-family: typo-icon;
			font-size: 15px;
			color: #fff;
			margin-right: 6px;
		}
	}
	.right{
		display: flex;
		justify-content: flex-end;
		.dropdown-menu{
			left: -21px;
			border-top: 0;
			&::before{
				display: none;
			}
		}
		.addon-box{
			margin-left: 44px;
			position: relative;
			line-height: 45px;
			&:not(:first-child)::before{
				content: "";
				height: 45px;
				width: 1px;
				background: rgba(255,255,255,0.3);
				position: absolute;
				left: -21px;
				top: 0;
			}
		}
		.title{
			color: #fff !important;
			letter-spacing: 0.5px;
		}
	}
}

//header
.header{
	padding: 24px 0;
	.container > .row{
		@include flexVCenter();
	}
	#jms_ajax_search .searchbox::before{
		display: none;
	}
	#ajax_search{
		height: 47px;
		border-color: $active;
		border-radius: 30px 0 0 30px;
		padding-left: 25px;
		width: 415px;
	}
	.text-custom {
		display: flex;
		font-family: Cabin;
		font-weight: 700;
		font-size: 18px;
		margin-right: 10px;
		align-items: center;
	}
	#cart_block{
		display: flex;
		justify-content: flex-end;
		padding-right: 8px;
		.ajax_cart_quantity{
			background-color: #fff;
			color: $active;
			box-shadow: 0 0 7px rgba(0,0,0,0.16);
			right: 0;
			top: -2px;
		}
		.cart-icon {
			width: 42px;
			height: 42px;
			display: inline-flex;
			background: #fb943b;
			justify-content: center;
			align-items: center;
			border-radius: 50% !important;
			&::before{
				color: #fff;
				top: -3px;
				position: relative;
			}
		}
	}
	.center{
		@include flexHCenter();
	}
}

//menu
.menu{
	position: relative;
	z-index: 2;
	border-top: 1px solid #f4f4f4;
	box-shadow: 0 0 3px rgba(0,0,0,0.08);
	.jms-megamenu{
		.stores .dropdown-menu::before {
			left: 462px;
		}
		.features .dropdown-menu::before {
			left: 566px;
		}
	}
	#jms-vermegamenu-container{
		position: absolute;
		width: 270px;
		background: #fff;
	}
	.right{
		position: unset;
	}
}

//slider
.slides{
	position: relative;
	z-index: 1;
	.text-1, .text-2{
		text-shadow: 2px 2px #fff;
		font-weight: 600;
	}
	.text-1{
		letter-spacing: 0.048vw;
	}
	.text-2{
		font-family: Cabin;
	}
	.btn-shopnow1{
		padding: 0 33px;
	}
}