@import "mixin";
@import "varians";

//topbar
.topbar{
	background: $active;
	color: #fff;
	font-family: cabin;
	font-size: 15px;
	p{
		margin-bottom: 0;
	}
	#_desktop_user_info{
		.type1, .type2{
			display: none;
		}
		.type3{
			display: block;
		}	}
	.languages-info{
		&.type1, &.type3, &.type4{
			display: none;
		}
		&.type2{
			display: block;
		}
		@include icon_dropdown(1);
		.dropdown-menu{
			min-width: 140px;
		}
	}
	#_desktop_currency_selector{
		&.type3, &.type2{
			display: none;
		}
		&.type1{
			display: block;
		}
		@include icon_dropdown(7);
		.dropdown-menu{
			min-width: 106px;
		}
	}
	.left{
		a{
			color: #fff !important;
			line-height: 42px;
		}
		span{
			margin-right: 36px;
			letter-spacing: 0.1px;
			position: relative;
			line-height: 45px;
			&::after{
				content: "";
				height: 45px;
				width: 1px;
				background: rgba(255,255,255,0.3);
				position: absolute;
				right: -21px;
				top: -13px;
			}
		}
		.locator::before{
			content: "\e953";
			font-family: typo-icon;
			font-size: 15px;
			color: #fff;
			margin-right: 6px;
		}
	}
	.right{
		display: flex;
		justify-content: flex-end;
		.dropdown-menu{
			left: -21px;
			border-top: 0;
			&::before{
				display: none;
			}
		}
		.addon-box{
			margin-left: 44px;
			position: relative;
			line-height: 45px;
			&:not(:first-child)::before{
				content: "";
				height: 45px;
				width: 1px;
				background: rgba(255,255,255,0.3);
				position: absolute;
				left: -21px;
				top: 0;
			}
		}
		.title{
			color: #fff !important;
			letter-spacing: 0.5px;
		}
	}
}

//header
.header{
	padding: 24px 0;
	.container > .row{
		@include flexVCenter();
	}
	#jms_ajax_search .searchbox::before{
		display: none;
	}
	#ajax_search{
		height: 47px;
		border-color: $active;
		border-radius: 30px 0 0 30px;
		padding-left: 25px;
		width: 415px;
	}
	.text-custom {
		display: flex;
		font-family: Cabin;
		font-weight: 700;
		font-size: 18px;
		margin-right: 10px;
		align-items: center;
	}
	#cart_block{
		display: flex;
		justify-content: flex-end;
		padding-right: 8px;
		.shoppingcart-box::before {
			right: 66px;
		}
		.ajax_cart_quantity{
			background-color: #fff;
			color: $active;
			box-shadow: 0 0 7px rgba(0,0,0,0.16);
			right: 0;
			top: -2px;
		}
		.cart-icon {
			width: 42px;
			height: 42px;
			display: inline-flex;
			background: #fb943b;
			justify-content: center;
			align-items: center;
			border-radius: 50% !important;
			&::before{
				color: #fff;
				top: -3px;
				position: relative;
			}
		}
	}
	.center{
		@include flexHCenter();
	}
}

//menu
.menu{
	position: relative;
	z-index: 2;
	border-top: 1px solid #f4f4f4;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
	.jms-megamenu{
		.home{
			padding-left: 0;
		}
		.menu-align-left > .dropdown-menu {
			left: -22px;
		}
		.stores .dropdown-menu::before {
			left: 438px;
		}
		.features .dropdown-menu::before {
			left: 543px;
		}
	}
	#jms-vermegamenu-container{
		position: absolute;
		width: 270px;
		background: #fff;
	}
	.right{
		position: unset;
	}
}

//slider
.slides{
	position: relative;
	z-index: 1;
	.text-1, .text-2{
		text-shadow: 2px 2px #fff;
		font-weight: 600;
	}
	.text-1{
		letter-spacing: 0.048vw;
	}
	.text-2{
		font-family: Cabin;
	}
	.btn-shopnow1{
		padding: 0 1.7vw;
	}
}

//service
.service{
	.left .feature-box{
		border: 1px solid #81b502;
	}
	.center .feature-box{
		border: 1px solid #f2962a;
	}
	.right .feature-box{
		border: 1px solid #29c4e9;
	}
	.feature-box{
		@include flex(center, center);
		border-radius: 8px;
		padding: 30.5px 0;
	}
	.include_content_s{
		margin-left: 22px;
		.text-1{
			font-size: 24px;
			font-weight: 600;
			letter-spacing: 0.4px;
			margin-bottom: 6px;
		}
		.text-2{
			color: #907459;
			font-family: Cabin;
			font-size: 16px;
			margin-bottom: 8px;
		}
	}
}

//best seller
.best_seller{
	.addon-title h3{
		letter-spacing: 0.2px;
	}
	.owl-theme{
		padding-top: 59px;
		.owl-controls {
			top: 2px;
		}
	}
}

//category
.cates{
	padding: 60px 0;
	position: relative;
	margin-top: -6px;
	.jms-banner > a{
		&::before, &::after{
			display: none;
		}
		img{
			transform: unset;
		}
	}
	&::before{
		content: url("../img/h4_cates_img1.png");
		position: absolute;
		left: 0;
		bottom: -84px;
		z-index: 0;
	}
	&::after{
		content: url("../img/h4_cates_img2.png");
		position: absolute;
		right: 0;
		top: -69px;
		z-index: 0;
	}
	.addon-title{
		h3{
			text-align: left !important;
			line-height: 1.3;
			padding-top: 21px;
			&::before{
				display: none;
			}
		}
	}
	.jms-banner > a::before{
		display: none;
	}
	.right{
		width: 75% !important;
	}
	.owl-theme .owl-controls{
		display: block !important;
		left: -235px;
		bottom: 25px;
		top: auto;
		div{
			background-color: #fff !important;
			margin-left: 0;
			margin-right: 5px;
		}
	}
	.banner-content{
		bottom: 24px;
		top: auto;
		font-size: 16px;
		font-weight: 500;
		width: 100%;
		text-align: center;
		font-family: Cabin;
	}
}

//deal of the day
.deal{
	.left{
		.addon-box{
			background-image: url('../img/h4_deal_bg.jpg');
			background-size: contain;
			background-attachment: scroll;
			background-position: 100% 0;
			margin-left: 100px;
		}
		.addon-title img{
			position: absolute;
			left: -105px;
			bottom: -112px;
		}
	}
	.countdown-box {
		text-align: right;
		margin-top: 0;
		padding: 76px 58px 89px;
	}
	.countdown.is-countdown {
		margin-top: 42px;
		margin-bottom: 52px;
		text-align: right;
	}
	.countdown-section{
		background: #fff;
		border-radius: 50%;
		min-width: 100px;
		padding-top: 12px;
		padding-bottom: 15px;
		margin-right: 0;
		margin-left: 10px;
		.countdown-amount {
			font-size: 45px;
			color: #603813;
			margin-bottom: 0;
		}
	}
	.countdown-period {
		font-size: 17px;
		color: #907459;
	}
	.text-1{
		font-size: 42px;
		font-weight: 500;
		letter-spacing: 0.5px;
		margin-bottom: 15px;
	}
	.text-2{
		font-size: 16px;
		font-family: Cabin;
		color: #907459;
		line-height: 1.85;
		padding-left: 25px;
	}
	.btn-shopnow1{
		padding: 0 26px;
	}
}

//product carousel
.product_carousel{
	.addon-title h3{
		text-align: left !important;
		font-size: 25px;
		&::before{
			display: none;
		}
		&::after{
			content: "";
			width: 45px;
			height:2px;
			background: #fb943b;
			position: absolute;
			left: 0;
			bottom: 2px;
		}
	}
	.owl-theme{
		padding-top: 28px;
		.owl-controls{
			left: auto;
			right: 0;
			top: -43px;
			transform: unset;
		}
	}
}

//blog
.jms-row.blog{
	background: #f7f4ef;
	padding: 87px 0 55px;
	.addon-title h3{
		text-align: left !important;
		font-size: 25px;
		&::before{
			display: none;
		}
		&::after{
			content: "";
			width: 45px;
			height:2px;
			background: #fb943b;
			position: absolute;
			left: 0;
			bottom: 2px;
		}
	}
	.post-info {
		margin-top: 21px;
	}
	.owl-theme{
		padding-top: 28px;
		.owl-controls{
			left: auto;
			right: 0;
			top: -33px;
			transform: unset;
			div{
				margin: 0;
				margin-left: 5px;
				background-color: #fff !important;
			}
		}
	}
	.testimonial {
		padding: 0 15px;
		.testimonial-carousel{
			padding-top: 9px;
			.owl-controls{
				left: auto;
				right: 15px;
				top: -37px;
				transform: unset;
				div{
					margin: 0;
					margin-left: 5px;
					background-color: #fff !important;
				}
			}
		}
		.testimonial-box {
			padding: 20px 30px;
			margin-bottom: 20px;
			box-shadow: 0 0 3px rgba(0,0,0,0.08);
		}
		.testimonial-img {
			margin-top: 16px;
		}
		.id_testimonial{
			display: none;
		}
	}
}


//newsletter
.newsletter{
	#newsletter_block_left .textnews_h4{
		display: block;
	}
	.textnews_h1.addon-title {
		display: none;
	}
	.newsletter-btn.buttonh1{
		background: transparent;
		width: 17px;
		height: 30px;
		margin-top: 0;
		display: flex;
		align-items: center;
	}
	.newsletter-btn.btn-popup{
		display: none !important;
	}
	.form-group {
		display: flex;
		border-bottom: 2px solid #f7f4ef;
		margin-top: 16px;
		margin-bottom: 24px;
	}
	.addon-title{
		span{
			font-size: 15px;
			color: #907459;
			font-family: Cabin;
			line-height: 2;
		}
	}
	#newsletter-input{
		height: 30px;
		border: 0;
		border-radius: 0;
		padding-left: 0;
	}
	#newsletter-input::placeholder {
		color: #ada695;
	}
	#social_block ul li {
		margin-right: 4px;
	}
}

#footer {
	margin-top: 0;
}
.page-index .footer_t{
	border-top: 0;
}
.footer_t {
	border-top: 1px solid #ebebeb;
}
.footer_b{
	border-top: 1px solid #f6f2e9;
}

@media (max-width: 1366px){
	.cates{
		&::before {
			left: -115px;
		}
		&::after{
			right: -60px;
		}
	}
}

@media (max-width: 1199px){
	.header #ajax_search {
		width: 355px;
	}
	.ver_menu{
		font-size: 16px;
	}
	.menu #jms-vermegamenu-container {
		width: 220px;
	}
	#cart_block .shoppingcart-box{
		right: 0;
		&::before{
			right: 24px !important;
		}
	}
	.cates .owl-theme .owl-controls {
		left: -187px;
	}
}

@media (max-width: 991px){
	.header{
		.text-custom{
			display: none;
		}
		.left{
			order: 2;
			.addon-box{
				display: flex;
				justify-content: center;
			}
		}
		.center{
			order: 1;
			justify-content: flex-start;
			p{
				margin-bottom: 0;
			}
			.addon-box:first-child{
				display: none;
			}
		}
		.right{
			order: 3;
		}
	}
	#cart_block .shoppingcart-box {
		right: 0 !important;
	}
	.cates{
		.addon-title h3{
			text-align: center !important;
		}
		.right {
			width: 100% !important;
		}
		.owl-theme .owl-controls{
			display: none;
		}
	}
	.deal .right{
		margin-top: 100px;
	}
	.jms-row.blog .testimonial {
		margin-top: 30px;
	}
	.footer_t p.e_mail{
		margin-bottom: 0;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.product-box .flexbox {
		margin-right: 5px;
		width: 75%;
	}
}

@media (max-width: 991px) and (min-width: 482px){
	.deal .right{
		.addon-box{
			width: 50%;
			float: left;
			&:first-child{
				padding-right: 15px;
			}
			&:last-child{
				padding-left: 15px;
			}
		}
	}
}

@media (max-width: 767px){
	#newsletter-input {
		width: 100%;
	}
	.service{
		margin-top: 30px;
	}
	.deal{
		.left .addon-box {
			margin-left: 0;
		}
		.right{
			.addon-box{
				margin-bottom: 15px;
			}
		}
	}
	.slides .btn-shopnow1{
		border-width: 1px !important;
	}
}

@media (max-width: 481px){
	.deal{
		.countdown-box {
			text-align: center;
			padding: 20px;
		}
		.text-1{
			font-size: 25px;
		}
		.text-2{
			padding-left: 0;
		}
		.left .addon-title img {
			width: 100%;
		}
		.countdown.is-countdown {
			text-align: center;
		}
		.countdown-section{
			min-width: 50px;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-left: 5px;
			margin-right: 5px;
			.countdown-amount {
				font-size: 18px;
			}
		}
		.countdown-period {
			font-size: 14px;
		}
		.btn-shopnow1{
			font-size: 14px;
			height: 35px;
			padding: 0 15px;
		}
	}
}