@import "mixin";
@import "varians";


.page-index{
	#header{
		position: relative;
		z-index: 2;
	}
	#wrapper{
		margin-top: -181px;
		display: inline-block;
		width: 100%;
		position: relative;
		z-index: 1;
		.addon-title h3{
			text-align: center;
			&::before{
				@include imgBeforeTitle();
			}
		}
	}
}

// header
.header{
	padding: 20px 0;
	.container > .row{
		@include flex(center, center);
	}
	#_desktop_user_info{
		.type1, .type3{
			display: none;
		}
	}
	.languages-info{
		&.type2, &.type3, &.type4{
			display: none;
		}
	}
	#_desktop_currency_selector{
		&.type1, &.type2{
			display: none;
		}
	}
	.left{
		@include flex(flex-start, center);
		margin-top: 6px;
		.addon-box{
			margin-right: 52px;
			position: relative;
			&:not(:first-child)::before{
				content: url("../img/icon/line.png");
				position: absolute;
				left: -27px;
				top: -2px;
			}
		}
		.btn-search{
			position: relative;
			top: -3px;
		}
	}
	.center{
		.addon-box{
			@include flex(center, center)
		}
	}
	.right{
		@include flex(flex-end, center);
		margin-top: 6px;
		.addon-box{
			margin-left: 52px;
			position: relative;
			&:not(:last-child)::after{
				content: url("../img/icon/line.png");
				position: absolute;
				right: -27px;
				top: -3px;
			}
			&:last-child{
				margin-right: 13px;
			}
		}
		.wishlist_top.home_page{
			position: relative;
			top: -6px;
			left: 1px;
		}
		.cart-icon{
			position: relative;
			top: -3px;
		}
	}
}

// menu
.menu{
	#jms-megamenu-container{
		.nav.level0{
			text-align: center;
			background: #fff;
			box-shadow: 0px 1px 3px rgba(0,0,0,0.08);
		}
	}
}

// slider
.slides{
	position: relative;
	&::after{
		content: url("../img/path_slide.png");
		position: absolute;
		bottom: -37px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 999;
	}
	.sd.jms-slide-content{
		text-shadow: -2px 0 #fff;
		font-weight: 700;
	}
	.text-2{
		font-weight: 500;
		letter-spacing: 0.011vw;
	}
}

// intro
.intro{
	margin-top: 50px;
	margin-bottom: 70px;
	.title{
		.addon-box{
			text-align: center;
		}
		h3{
			font-size: 41px;
			font-weight: 500;
			letter-spacing: 0.3px;
			padding-top: 7px;
			padding-bottom: 68px;
		}
	}
	.include_content_s{
		h4{
			font-size: 27px;
			font-weight: 500;
			padding-top: 41px;
		}
		p{
			font-family: Cabin;
			font-size: 16px;
			color: #907459;
			line-height: 1.85;
			padding: 14px 10px 0 10px;
		}
	}
}

//service
.service{
	.left{
		.feature-box{
			background: url("../img/service1_bg.jpg") no-repeat center center;
		}
	}
	.center{
		.feature-box{
			background: url("../img/service2_bg.jpg") no-repeat center center;
		}
	}
	.right{
		.feature-box{
			background: url("../img/service3_bg.jpg") no-repeat center center;
		}
	}
	.feature-box{
		@include flex(center, center);
		padding: 50.5px 0;
	}
	.include_content_s{
		margin-left: 22px;
		color: #fff;
		.text-1{
			font-size: 24px;
			font-weight: 600;
			letter-spacing: 0.4px;
			margin-bottom: 6px;
		}
		.text-2{
			font-family: Cabin;
			font-size: 16px;
			margin-bottom: 8px;
		}
	}
}

// banner
.banner{
	margin-top: 90px;
	.layout-column{
		padding: 0;
	}
	.left{
		.banner-content{
			width: 175px;
			top: calc(50% + 4px);
			left: calc(50% + 4px);
			transform: translate(-50%, -50%);
			p{
				font-size: 42px;
				color: #8da92e;
				font-family: Playball;
				margin-bottom: 0;
			}
			.text-1{
				float: left;
				margin-bottom: -8px;
			}
			.text-2{
				float: right;
				padding-left: 24px;
			}
		}
	}
	.center{
		.banner-content{
			left: 72px;
			top: 50%;
			transform: translateY(-50%);
			p{
				text-align: left;
			}
			.text-1{
				font-size: 48px;
				font-family: Playball;
				color: #f93c3c;
				margin-bottom: -2px;
			}
			.text-2{
				font-size: 42px;
				font-weight: 600;
				color: #488359;
				text-shadow: 2px 2px #fff;
				letter-spacing: 0.7px;
				margin-bottom: 26px;
			}
		}
	}
	.right{
		.banner-content{
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			text-align: center;
			p{
				font-size: 42px;
				font-weight: 600;
				color: #ff7e00;
				text-shadow: 2px 2px #fff;
				line-height: 1.1;
				letter-spacing: 0.5px;
			}
		}
	}
}

// category tab
.cates_tab{
	margin-top: 133px;
	.container-fluid{
		max-width: 1810px;
		width: 100%;
		padding: 0 15px;
	}
}

// brand
.brand{
	margin-top: -8px;
	display: inline-block;
	width: 100%;
}

//hotdeal
.hot_deal{
	margin-top: 126px;
	.addon-title h3{
		letter-spacing: 0.4px;
		padding-bottom: 29px;
	}
}

//testimonial
.testimonial{
	position: relative;
	&::before{
		content: url('../imgg/testi_img2.png');
		position: absolute;
		top: 0;
		left: 0;
	}
	&::after{
		content: url('../img/testi_img1.png');
		position: absolute;
		bottom: -54px;
		right: -8px;
	}
	.addon-title h3{
		letter-spacing: 0.2px;
	}
}

//blog
.blog{
	margin-top: 59px;
	.addon-title h3{
		margin-bottom: 10px;
		letter-spacing: 0.2px;
		padding-bottom: 29px;
	}
}

.jms-popup-overlay{
	display: block !important;
}