@import "mixin";
@import "varians";

.top_menu_second{
	left: auto;
	right: -430px;
	.container{
		float: right;
	}
}
.st-open .top_menu_second {
	left: auto;
	right: 0;
}

//topbar
.topbar{
	background: #ebebeb;
	font-family: cabin;
	font-size: 15px;
	p{
		margin-bottom: 0;
	}
	#_desktop_user_info{
		.type1, .type2{
			display: none;
		}
		.type3{
			display: block;
		}
	}
	.languages-info{
		&.type1, &.type3, &.type4{
			display: none;
		}
		&.type2{
			display: block;
		}
		@include icon_dropdown(1);
		.dropdown-menu{
			min-width: 140px;
		}
	}
	#_desktop_currency_selector{
		&.type3, &.type2{
			display: none;
		}
		&.type1{
			display: block;
		}
		@include icon_dropdown(7);
		.dropdown-menu{
			min-width: 106px;
		}
	}
	.left{
		a{
			line-height: 42px;
		}
		span{
			margin-right: 36px;
			letter-spacing: 0.1px;
			position: relative;
			line-height: 45px;
			&::after{
				content: "";
				height: 45px;
				width: 1px;
				background: #fff;
				position: absolute;
				right: -21px;
				top: -13px;
			}
		}
		.locator::before{
			content: "\e953";
			font-family: typo-icon;
			font-size: 15px;
			color: #603813;
			margin-right: 6px;
		}
	}
	.right{
		display: flex;
		justify-content: flex-end;
		.dropdown-menu{
			left: -21px;
			border-top: 0;
			&::before{
				display: none;
			}
		}
		.addon-box{
			margin-left: 44px;
			position: relative;
			line-height: 45px;
			&:not(:first-child)::before{
				content: "";
				height: 45px;
				width: 1px;
				background: #fff;
				position: absolute;
				left: -21px;
				top: 0;
			}
		}
		.title{
			letter-spacing: 0.5px;
		}
	}
}

//header
.header{
	padding: 20px 0;
	.container > .row{
		@include flexVCenter();
	}
	#jms_ajax_search .searchbox::before{
		display: none;
	}
	#ajax_search{
		height: 47px;
		border-color: $active;
		border-radius: 30px 0 0 30px;
		padding-left: 25px;
		width: 415px;
	}
	.text-custom {
		display: none;
	}
	#cart_block{
		display: flex;
		justify-content: flex-end;
		padding-right: 8px;
		.ajax_cart_quantity{
			right: -4px;
			top: 15px;
		}
		.cart-icon {
			&::before{
				top: -3px;
				position: relative;
			}
		}
	}
	.center{
		@include flexHCenter();
	}
	.right{
		@include flex(flex-end, center);
		p{
			margin-bottom: 0;
		}
		.addon-box:not(:first-child){
			margin-left: 26px;
		}
		.wishlist_top.home_page {
			top: -3px;
			left: -8px;
		}
	}
	#cart_block .shoppingcart-box::before {
		right: 56px;
	}
}

//menu
.menu{
	position: relative;
	z-index: 2;
	.container{
		background: #7cbb2c;
		border-radius: 8px;
		> .row{
			@include flexVCenter();
		}
	}
	.jms-megamenu{
		.stores .dropdown-menu::before {
			left: 162px;
		}
		.features .dropdown-menu::before {
			left: 266px;
		}
		.nav > li > a {
			color: #fff !important;
			line-height: 64px;
		}
	}
	#jms-vermegamenu-container{
		position: absolute;
		width: 270px;
		background: #fff;
	}
	.right{
		position: unset;
		p{
			margin-bottom: 0;
		}
		a{
			color: #fff;
			font-family: Cabin;
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 0;
			@include flex(flex-end, center);
			padding-right: 30px;
			i{
				font-size: 28px;
				margin-right: 8px;
			}
		}
	}
}

//slider
.slides{
	.text-2{
		font-weight: 600;
		font-family: Cabin;
		letter-spacing: 0.1px;
	}
	.sd.jms-slide-content{
		font-weight: 700;
		text-shadow: -2px 0 #fff;
	}
	.jms-vermegamenu .nav > li{
		&.open > a i{
			color: $active;
		}
		i{
			color: #b4aba4;
			transition: all .4s;
		}
	}
	.all-department{
		background-color: #7cbb2c;
		border-radius: 10px 10px 0 0;
		img{
			margin-right: 11px;
			margin-top: -2px;
		}
		a{
			color: #fff;
			line-height: 54px;
			margin-bottom: 0;
			padding: 0 20px;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.2px;
		}
	}
	.more{
		a{
			display: block;
			color: #fff;
			font-size: 16px;
			font-family: Cabin;
			font-weight: 500;
			padding: 0 20px;
			line-height: 44px;
			background-color: #603813;
			letter-spacing: 0.3px;
		}
	}
	.jms-vermegamenu li.page{
		display: none;
	}
}

//category
.cates{
	.banner-content{
		bottom: 11px;
		top: auto;
		font-size: 16px;
		font-weight: 500;
		width: 100%;
		text-align: center;
		font-family: Cabin;
	}
	.title{
		margin-bottom: 17px;
	}
}

//banner1
.banner1{
	.banner-content{
		top: 65px;
		left: 34px;
		text-align: center;
	}
	.text-1{
		font-size: 34px;
		font-weight: 600;
		color: $active;
		margin-bottom: 2px;
	}
	.text-2{
		font-size: 24px;
		font-family: Cabin;
		font-weight: 500;
		letter-spacing: 0.3px;
	}
}

//banner2
.banner2{
	.banner-content{
		right: 38px;
		text-align: right;
		top: 104px;
	}
	.text-1{
		font-size: 26px;
		font-weight: 400;
		color: $active;
		font-family: PlayBall;
		margin-bottom: -6px;
		text-shadow: 0 1px #fff;
		letter-spacing: 0.1px;
		padding-right: 5px;
	}
	.text-2{
		font-size: 48px;
		font-weight: 600;
		color: #7cbb2c;
		letter-spacing: 0.3px;
		text-shadow: 0 1px #fff;
	}
}

//2 column
.two_column{
	.addon-title{
		h3{
			text-align: left !important;
			font-size: 25px;
			&::before{
				display: none;
			}
			&::after{
				content: "";
				width: 45px;
				height: 2px;
				background: #fb943b;
				position: absolute;
				left: 0;
				bottom: 10px;
			}
		}
	}
}

//hotdeal
.hotdeal{
	.product-box{
		border: 2px solid $active;
		border-radius: 6px;
		img{
			border-radius: 6px;
		}
		&::after{
			content: url("../img/label_hotdeal.png");
			position: absolute;
			top: 12px;
			left: -7px;
		}
	}
	.countdown-section {
		margin: 0 4px;
		padding: 4px 5px;
		min-width: 51px;
		.countdown-amount{
			font-size: 24px;
			margin-bottom: -2px;
		}
		.countdown-period{
			font-size: 13px;
		}
	}
	.countdown.is-countdown{
		margin-top: 0;
	}
}

//catetab
.cate_tab{
	.addon-title{
		float: left;
	}
	.jms-tab{
		
	}
}

